.foot
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px;
    background-color: orange;
    color: white;
    text-align: center;
   
   
    
}
.by
{
    text-decoration: none;
    color: white;
}
.by:hover
{
    color:black;
}