.foot
{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;;
    background-color: orange;
    color: white;
    text-align: center;
    position:relative;
   
    width: 100%;
    
   
   
    
}
.by
{
    text-decoration: none;
    color: white;
}
.by:hover
{
    color:black;
}