.welcome
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100vw;
    text-align: center;
    color: white;
    background-color: orange;
}
.banner
{
    
    cursor: pointer;
}
